In [ ]:


import sqlalchemy as sqlal
import pandas as pd

query = '''SELECT customer.Lastname, customer.Firstname, track.Name, album.Title FROM customer 
        INNER JOIN invoice ON customer.CustomerId = invoice.CustomerId 
        INNER JOIN invoiceline ON invoice.InvoiceId = invoiceline.InvoiceId 
        INNER JOIN track ON invoiceline.TrackId = track.TrackId 
        INNER JOIN album ON track.AlbumId = album.AlbumId 
        ORDER BY customer.Lastname, customer.Firstname;'''

build_db = sqlal.create_engine('sqlite:///chinook_data/Chinook_Sqlite.sqlite')

df = pd.read_sql(query, build_db)

df